.tabList {
  background: none;
}

.tabsElement {
  background: none;
  margin: 0 15rem;
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 6px rgba(227, 228, 237, 0.11);
  border: 2px solid rgba(255, 156, 127, 0.18);
  border-radius: 15px;
}

#tabElement {
  border-color: #F5F5F5
}

#iconElement {
  color: #F5F5F5
}

.labelElement {
  color: #F5F5F5
}

.tabPanelElement {
  background: none;
}

/* Define keyframe animations */
@keyframes rotate-out {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
}
/* Target view transition pseudo-elements */
::view-transition-old(count),
::view-transition-new(count) {
  animation-duration: 200ms;
  animation-name: -ua-view-transition-fade-in, rotate-in;
}
::view-transition-old(count) {
  animation-name: -ua-view-transition-fade-out, rotate-out;
}
