<div class="hobbies-grid">
  @for (hobby of hobbies(); track hobby.name; let i = $index) {
    <article class="hobby-card" [class.hobby-card--no-image]="!hobby.image" [attr.data-index]="i">
      <div class="hobby-media">
        @if (hobby.image) {
          <img class="hobby-media__img" [src]="hobby.image" [alt]="hobby.name" loading="lazy" />
        } @else {
          <div class="hobby-media__icon" [innerHTML]="getSafeIcon(hobby.icon)"></div>
        }
        <span class="hobby-media__index">0{{ i + 1 }}</span>
      </div>
      <div class="hobby-content">
        <h3 class="hobby-name">{{ hobby.name }}</h3>
        <p class="hobby-description">{{ hobby.description }}</p>
        <div class="hobby-tags">
          @for (tag of hobby.tags; track tag) {
            <span class="hobby-tag">{{ tag }}</span>
          }
        </div>
        @if (hobby.links) {
          <div class="hobby-links">
            @for (link of hobby.links; track link.label) {
              <a [href]="link.url" target="_blank" rel="noopener noreferrer" class="hobby-link" [title]="link.label">
                <span [innerHTML]="getSafeIcon(link.icon)"></span>
              </a>
            }
          </div>
        }
      </div>
    </article>
  }
</div>
