
.items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* two columns */
  gap: 1rem 2rem; /* row-gap / column-gap */
  align-items: start;

  .item-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    svg {
      width: 32px;
      height: 32px;
      margin: 0 6px; /* small horizontal gap */
      fill: #fff;
      display: block;
      font-size: 2.5em;
    }

    p {

    }
  }


}
