<div class="experiences-container">

  <app-page-intro
    [kicker]="'experiences.intro.kicker' | translate"
    [lead]="'experiences.intro.lead' | translate"
    [body]="'experiences.intro.body' | translate"
    [stats]="experiencesStats()"
  />

  <section class="experiences-timeline navigation-animation">
    <p-timeline [value]="experiences()" align="alternate" class="customized-timeline">
      <ng-template #marker let-exp>
        <span class="timeline-marker">
          <i [class]="exp.icon" id="timeline-icon"></i>
        </span>
      </ng-template>
      <ng-template #content let-exp>
        <div class="exp-card">
          <div class="exp-header">
            @if (exp.image) {
              <img ngSrc="assets/img/{{exp.image}}" [alt]="exp.company" width="120" height="60" class="company-logo" />
            }
            <div class="exp-header-text">
              <h3 class="exp-title">{{ exp.title }}</h3>
              <span class="exp-company">{{ exp.company }}@if (exp.location) { - {{ exp.location }}}</span>
              <span class="exp-date">{{ exp.date }}</span>
            </div>
          </div>
          @if (exp.description) {
            <p class="exp-description">{{ exp.description }}</p>
          }
          <ul class="exp-tasks">
            @for (task of exp.tasks; track task) {
              <li>{{ task }}</li>
            }
          </ul>
          @if (exp.technologies && exp.technologies.length > 0) {
            <div class="exp-technologies">
              @for (tech of exp.technologies; track tech) {
                <span class="tech-tag">{{ tech }}</span>
              }
            </div>
          }
        </div>
      </ng-template>
    </p-timeline>
  </section>

  <section class="skills-section">
    <div class="skills-block">
      <h3>{{ 'aboutme.hardSkills' | translate }}</h3>
      <app-tabs-menu></app-tabs-menu>
    </div>
    <div class="skills-block">
      <h3>{{ 'aboutme.softSkills' | translate }}</h3>
      <app-soft-skills></app-soft-skills>
    </div>
  </section>
</div>
