<div class="experiences-container">
  <h1>Mes Expériences Professionnelles</h1>

  <section class="experiences-timeline navigation-animation">
    <p-timeline [value]="experiences" align="alternate" class="customized-timeline">
      <ng-template #marker let-exp>
        <span class="timeline-marker">
          <i [class]="exp.icon" id="timeline-icon"></i>
        </span>
      </ng-template>
      <ng-template #content let-exp>
        <p-card>
          <ng-template #header>
            <div class="exp-header">
              @if (exp.image) {
                <img ngSrc="assets/img/{{exp.image}}" [alt]="exp.company" width="120" height="60" class="company-logo" />
              }
              <div class="exp-header-text">
                <h3 class="exp-title">{{ exp.title }}</h3>
                <span class="exp-company">{{ exp.company }}@if (exp.location) { • {{ exp.location }}}</span>
                <span class="exp-date">{{ exp.date }}</span>
              </div>
            </div>
          </ng-template>
          @if (exp.description) {
            <p class="exp-description">{{ exp.description }}</p>
          }
          <ul class="exp-tasks">
            @for (task of exp.tasks; track task) {
              <li>{{ task }}</li>
            }
          </ul>
          @if (exp.technologies && exp.technologies.length > 0) {
            <div class="exp-technologies">
              @for (tech of exp.technologies; track tech) {
                <span class="tech-tag">{{ tech }}</span>
              }
            </div>
          }
        </p-card>
      </ng-template>
    </p-timeline>
  </section>
</div>