.route-container {
  position: relative;
  overflow: hidden;
}

.neat-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: #1c0a9e;
  background-image: url('/assets/img/neat-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
