@use "sass:color";
@use "primeicons/primeicons.css";


/* ------------------------------- */
/*            Variables            */
/* ------------------------------- */

$main-color: #3d3d3d;
$secondary-color: rgba(255, 156, 127, 0.79);
$white-color: #F5F5F5;
$button-border-radius: 5px;
$border-radius: 30px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$font-title: "Zalando Sans Expanded", sans-serif;
$font-main :  'Space Mono', monospace;

/* ------------------------------- */
/*          Global Styles          */
/* ------------------------------- */


.home.container, .experiences.container, .aboutme.container, .project.container, .contact.container {
  z-index: 0;
}

#app-navigation {
  position: sticky;
  top: 40%;
  z-index: 1000;
  padding: 0 0.5rem ;
}

.neat-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  color: $white-color;
  margin: 0;
  padding: 0;
}
header {
  padding-top: 16px;
  text-align: center;
}

h1 {
  margin: 0.5rem;
  font-size: 2rem;
}

h2 {
  text-align: center;
}

button {
  font-family: $font-main;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  button {
    padding: 1rem;
    font-size: 0.9rem;
  }
}

#timeline-icon {
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 6px rgba(227, 228, 237, 0.11);
  border: 2px solid rgba(255, 156, 127, 0.18);
  border-radius: 30px;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;;
  display: flex;
  flex-direction: row;
  align-items: center;
  li {
    margin: 0 1rem;
  }
}

footer {
  color: white;
  padding: 1rem;
  text-align: center;
}

/* ------------------------------- */
/*          Classes & Ids          */
/* ------------------------------- */

.app-wrapper {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.container {
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 6px rgba(227, 228, 237, 0.11);
  border: 2px solid rgba(255, 156, 127, 0.18);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: $border-radius;
}

.background-container {

}

#bg-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: #000;
}

.intro-image {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
}

#logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#logo {
  width: 15%;
  height: auto;
  align-self: center;
  justify-content: center;
  text-align: center;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

.header-container {
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 6px rgba(227, 228, 237, 0.11);
  border: 2px solid rgba(255, 156, 127, 0.18);
  color: white;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-radius: $border-radius;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
}

#header-h1 {
  font-style: italic;
  font-family: $font-title;
  align-self: center;
  text-align: left;
  justify-content: left;
  margin: 0 0 0 0.8rem;
  width: 20%;
}

.timeline-studies {
  margin-top: 2rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  background-color: #000000;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: $button-border-radius;
  border: none;
  cursor: pointer;
  transition: 400ms;
  width: 100%;
  color: white;
  &:hover {
    color: white;
    background-color: color.adjust($secondary-color, $lightness: -10%);
  }
}

.experiences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
  &:hover {
    color: $secondary-color;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #000000;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      padding: 1rem;
      width: 200px;
      text-align: center;
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-10px);
      }
      p {
        margin: 0.5rem 0 0 0;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
